
h1{

    color: white;
    font: bold;
    background-color: blue;
}
result{
    color: white;
    font: bold;
    background-color: blue;

}
controls{
    text-justify: auto;
}
body {
    text-align: left;
    padding: 2%;
    background-color: lightgray;
}
.hidden{
    display:none;
}
